/* Blender */
.project{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.project-info{
    width: 500px;
}

.project-title{
    width: 100%;
    color: var(--text-primary);
    margin-bottom: 20px;
}

.carousel-imgs img{
    width: 500px;
    display: none;
    cursor: pointer;
}

.carousel-imgs .active{
    display: block;
}

.carousel-imgs .active:hover{
    border-radius: 0px;
}

.carousel-controls{
	width: 100%;
	margin-top: 4px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.carousel-btn{
    opacity: 0;
	font-size: 32px;
}

.carousel-btn.clickable{
    opacity: 1;
	color: var(--text-muted);
	cursor: pointer;
    transition: background-color 0.1s ease;
}

.carousel-btn.clickable:hover{
	color: var(--accent);
}

.carousel-dots{
    padding: 7px;

    display: flex;
    justify-content: center;
    gap: 7px;
}

.carousel-dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--text-muted);
    cursor: pointer;
}

.carousel-dot.active{
    background-color: var(--text-primary);
    transition: background-color 0.3s ease;
}

.carousel-dot:hover{
    background-color: var(--accent);
}