/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*
WHITE: #E2E8EE
ACCENT: #41619A
BLUE: #1F2E4E
GRAY: #1C2431
BLACK: #0F1116

BLACK-OVERLAY: #0F111667
*/

.project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.project-info{
    width: 500px;
}

.project-title{
    width: 100%;
    color: #1c1c1c;
    margin-bottom: 20px;
}

.carousel-imgs img{
    width: 500px;
    display: none;
}

.carousel-imgs .active{
    display: block;
}

.carousel-controls{
	width: 100%;
	margin-top: 4px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.carousel-btn{
	color: #cccccc;
	cursor: not-allowed;
	font-size: 32px;
}

.carousel-btn.clickable{
	color: #2e45cc;
	cursor: pointer;
}

.carousel-btn.clickable:hover{
	color: #eb54c5;
}

.carousel-dots{
    padding: 10px;

    display: flex;
    justify-content: center;
    gap: 10px;
}

.carousel-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cccccc;
    cursor: pointer;
}

.carousel-dot.active{
    background-color: #888888;
}