/* Blender */
.project{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.project-info{
    width: 500px;
}

.project-title{
    width: 100%;
    color: var(--azure);
    margin-bottom: 20px;
}

.carousel-imgs img{
    width: 500px;
    display: none;
    border-radius: 15px;
	transition: border-radius 0.3s ease;
	box-shadow: 0px 5px 10px 5px var(--gray-shadow);
    cursor: pointer;
}

.carousel-imgs .active{
    display: block;
}

.carousel-imgs .active:hover{
    border-radius: 0px;
}

.carousel-controls{
	width: 100%;
	margin-top: 4px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.carousel-btn{
    opacity: 0;
	font-size: 32px;
}

.carousel-btn.clickable{
    opacity: 1;
	color: var(--white);
	cursor: pointer;
}

.carousel-btn.clickable:hover{
	color: var(--gold-glow);
}

.carousel-dots{
    padding: 7px;

    display: flex;
    justify-content: center;
    gap: 7px;
}

.carousel-dot{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--azure);
    cursor: pointer;
}

.carousel-dot.active{
    width: 16px;
    background-color: var(--white);
    transition: width 0.5s ease, background-color 0.3s ease;
}