/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Colors

dark blue: #00183b
blue: #2e45cc
magenta: #eb54c5
dark-white: #f8f9fa

*/

/* Playground */
.project-link{
	width: 300px;
	height: 150px;	
	border-radius: 15px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	
	background-size: cover;
	background-position: 50% 50%;

	font-size: 22px;
	text-decoration: none;
	text-transform: uppercase;
	color: #f8f9fa;
	overflow: hidden;
}

#photography-link{
	background-image: url("../photos/IMG20251026150136.jpg");
}

#d3-link{
	background-image: url("../photos/Render\ Last.jpg");
}

.project-link span{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);

	display: flex;
	justify-content: center;
	align-items: center;
}

.project-link:hover{
	transform: scale(1.05);
}

/* Socials */
.social-link{
	padding: 10px 20px;
	border-radius: 20px;
	color: #f8f9fa;
	background-color: #2e45cc;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
}

.social-link:hover{
	background: linear-gradient(90deg, #2e45cc 0%, #eb54c5 100%);
}

.social-link:active{
	background: #eb54c5;
}

.social-link .bi{
	margin-right: 7px;
}
