/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*
WHITE: #E2E8EE
ACCENT: #41619A
BLUE: #1F2E4E
GRAY: #1C2431
BLACK: #0F1116

BLACK-OVERLAY: #0F111667
*/