/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Colors

dark blue: #00183b
blue: #2e45cc
magenta: #eb54c5
white: #f8f9fa

*/

/* Portfolio */
.projects-container{
	padding: 30px 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}

.project-link{
	width: 300px;
	height: 150px;	
	border-radius: 15px;
	background-color: #ffffff;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	
	text-decoration: none;
	text-transform: uppercase;
	color: #00183b;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-link:hover{
	transform: scale(1.05);
}

/* Socials */
.social-container{
	padding: 40px 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 35px;
}

.social-link{
	padding: 10px 20px;
	border-radius: 20px;
	color: #f8f9fa;
	background-color: #2e45cc;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
}

.social-link:hover{
	background: linear-gradient(90deg, #2e45cc 0%, #eb54c5 100%);
}

.social-link:active{
	background: #eb54c5;
}

.social-link .bi{
	margin-right: 7px;
}
