/* Welcome */
@keyframes glow {
    0%, 100% { color: var(--gold); }
    50% { color: var(--gold-glow); }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(5px); }
}

.welcome-screen{
    position: relative;
    height: calc(100dvh - 60px);

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo svg{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: 100%;
    opacity: 0.1;
	pointer-events: none;
	z-index: -1;
	fill: var(--azure);
}

.explore{
    text-align: center;
    margin-bottom: 35px;
    text-transform: uppercase;
    animation: glow 3s ease-in-out infinite;
}

.explore i{
    display: block;
    margin-top: 2px;
    animation: bounce 3s ease-in-out infinite;
}
