/* Landing */
#hero {
    width: 100%;
    height: 100dvh;
    min-height: fit-content;
    background-image: url(../assets/photos/full/DSC_1724.jpg);
    background-size: cover;
    background-position: center;
}

#hero .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

#hero .btn {
    border: 1px solid var(--surface);
    color: var(--surface);
}

.landing-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.scroll-txt {
    font-family: 'IBM Plex Mono';
    text-transform: uppercase;
    font-size: 0.5rem;
    color: var(--surface);
    cursor: pointer;
}

.scroll-txt:hover {
    text-decoration: underline;
}

/* Sections */
.main-section .container {
    display: grid;
    grid-template-areas:
        "hr hr"
        "title    link"
        "content content";
    grid-template-columns: 1fr auto;
    align-items: center;
    row-gap: 1rem;
}

.main-section hr {
    grid-area: hr;
}

.main-section .title {
    grid-area: title;
}

.main-section a {
    grid-area: link;
}

/* Photography */
#photography {
    background-color: var(--surface);
}

#photography .masonry-grid {
    grid-area: content;
}

/* Projects */
.featured-projects {
    grid-area: content;

    overflow-x: auto;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.project-card {
    width: min(100%, 17rem);
    padding: 1rem;

    flex-shrink: 0;

    background-color: var(--surface);
}

.project-card a {
    text-decoration: none;
}

.project-img-container {
    aspect-ratio: 1;
    overflow: hidden;
    margin-bottom: 0.7rem;
    position: relative;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project-card a:hover .project-img {
    transform: scale(1.2);
}

.wip-tag {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: var(--warn);
    color: var(--primary);
    font-family: 'IBM Plex Mono';
    padding: 0.1rem 0.3rem;
}

.project-card .caption {
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
}

.project-card a:hover .project-btn {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 700px) {
    .landing-btn-container {
        flex-direction: column;
        gap: 0.5rem;
    }

    .main-section .container {
        grid-template-areas:
            "hr"
            "title"
            "content"
            "link";
        grid-template-columns: 1fr;
    }

    .main-section a {
        justify-self: flex-end;
    }
}