:root {
    --bordr-bg: #0a0a0f;
    --bordr-purple: #4c1d95;
    --bordr-highlighted: #5b29b1;

    --bordr-primary: #f5f3ff;
    --bordr-secondary: #a1a1aa;
    --bordr-muted: #6b7280;
}


#title {
    width: 100%;
    background-color: var(--surface);
}

#title .btn {
    margin-bottom: 1rem;
}

#title .btn i {
    margin-left: 0px;
    margin-right: 0.2rem;
}

#title h1 {
    margin-bottom: 0.3rem;
}

/* ========== Bordr ========== */
#bordr {
    background: linear-gradient(-30deg, var(--bordr-purple) 0%, var(--bordr-bg) 100%);
    text-wrap: balance;
}

.wip-tag {
    width: fit-content;
    justify-self: flex-end;
    background-color: var(--warn);
    color: var(--primary);
    font-family: 'IBM Plex Mono';
    padding: 0.1rem 0.3rem;
}

.bordr-hero {
    padding: 2rem 0px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bordr-hero h1 {
    margin-bottom: 0.9rem;

    font-size: 3rem;
    line-height: 3rem;
    font-family: 'Raleway', sans-serif;
    color: var(--bordr-primary);
}

.bordr-hero p {
    font-size: 0.9rem;
    color: var(--bordr-secondary);
}

.try-bordr{
    background-color: var(--bordr-primary);
    border-color: var(--bordr-primary);
    color: var(--bordr-purple);
    font-weight: 500;
}

.bordr-hero .btn{    
    margin-top: 2rem;
}

#bordr .title{
    color: var(--bordr-primary);
}

#bordr .subtitle{    
    color: var(--bordr-secondary);
    text-transform: none;
    margin-bottom: 1.5rem;
}

.bordr-features{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.feature{
    background-color: var(--bordr-highlighted);
    padding: 1rem;
    max-width: min(25rem, 100%);
}

.feature i{
    font-size: 3rem;
    color: var(--bordr-secondary);
}

#bordr .feature .feature-title{
    margin-top: 0.7rem;
    color: var(--bordr-primary);
    margin-bottom: 1rem;
}

.feature .caption{
    color: var(--bordr-secondary);
}

.bordr-legal{
    margin: 2rem 0px 1rem 0px;
    text-align: center;
    color: var(--bordr-secondary);
}

.bordr-buttons{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.source-code-btn{
    color: var(--bordr-primary);
    border-color: var(--bordr-primary);
}

.source-code-btn i{
    margin-left: 0px;
    margin-right: 0.4rem;
}

@media(max-width: 700px){
    .bordr-features{
        gap: 0.5rem;
    }
}

@media(max-width: 1000px){
    .bordr-features{
        flex-direction: column;
    }
}