/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*
WHITE: #E2E8EE
ACCENT: #41619A
BLUE: #1F2E4E
GRAY: #1C2431
BLACK: #0F1116

BLACK-OVERLAY: #0F111667
*/

/* CSS Reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100%;
}

html{
	height: 100dvh;
	font-family: "Montserrat", sans-serif;
	background: linear-gradient(135deg, #1F2E4E 0%, #1C2431 50%, #0F1116 100%);
    background-attachment: fixed;
	color: #E2E8EE;
}

/* Header */
header{
	height: 60px;

	display: flex;
	justify-content: center;
	align-items: center;
	
	position: sticky;
	top: 0;
	left: 0;
	z-index: 74;
}

.header-links{
	width: 100%;
	height: 100%;
	padding: 8px;
	background-color: #1C2431a8;
	border-bottom: 1px solid #1C2431ce;
	box-shadow: 0px 0px 10px 2px #1C243167 inset;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);

	display: flex;
	justify-content: center;
	align-items: center;
	
	transition:
		width 0.3s ease,
		height 0.3s ease,
		margin 0.3s ease,
		border-radius 0.3s ease;
}

.header-links.scroll{
	width: fit-content;
	height: fit-content;
	margin-top: 8px;
	border-radius: 28px;
	border: 1px solid #1C2431ce;
}

.header-links ul{
	list-style: none;
	
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 8px;
}

header a{
	display: inline-block;
	padding: 5px 10px;
	font-size: 15px;

	border-radius: 18px;
	color: #E2E8EE;
	text-decoration: none;

	transition: transform 0.1s ease;
}

header a:hover{
	transform: scale(1.05);
}

header .hidden{
	display: none;
}

/* Main */
.container{
	width: 90%;
	margin: 0px auto;
}

.section{
	padding: 20px;	
	scroll-margin-top: 74px;
}

.section-title{
	text-align: center;
	color: #41619A;
}

.section-container{
	padding: 30px 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}

/* Footer */
footer{
	padding: 50px;
	background-color: #0f111667;
	color: #E2E8EE;
	text-align: center;
}