/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Colors

dark blue: #00183b
blue: #2e45cc
magenta: #eb54c5
white: #f8f9fa
gray: #dedede

*/

/* CSS Reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100%;
}

html{
	height: 100dvh;
	font-family: "Montserrat", sans-serif;
	background-color: #f8f9fa;
}

/* Header */
header{
	height: 74px;
	background-color: #00183b;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	position: sticky;
	top: 0;
	left: 0;
}

.home-link{
	margin-left: 25px;
}

.header-links{
	margin-right: 25px;
	list-style: none;
	
	display: flex;
	justify-content: center;
	gap: 15px;
}

header a{
	text-decoration: none;
	color: #f8f9fa;
	font-size: 18px;
}

header a:hover{
	text-decoration: underline;
}

/* Main */
.container{
	width: 85%;
	margin: 0px auto;
}

.section{
	padding: 20px;	
	scroll-margin-top: 74px;
}

.section-title{
	text-align: center;
	color: #2e45cc;
}

/* Portfolio */
.project-container{
	display: flex;
	flex-wrap: wrap;
}

.project{
	width: 300px;
	height: 150px;	
	border-radius: 15px;
	background-color: #dedede;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-link{
	text-decoration: none;
	text-transform: uppercase;
	color: #00183b;
}

/* Socials */
.social-container{
	padding: 40px 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 35px;
}

.social-link{
	padding: 10px 20px;
	border-radius: 20px;
	color: #f8f9fa;
	background-color: #2e45cc;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
}

.social-link:hover{
	background: linear-gradient(90deg, #2e45cc 0%, #eb54c5 100%);
}

.social-link:active{
	background: #eb54c5;
}

.bi{
	margin-right: 7px;
}

/* Footer */
footer{
	padding: 50px;
	background-color: #00183b;
	color: #f8f9fa;
	text-align: center;
}

.footer-copyright{
	margin-bottom: 20px;
}

.footer-links{
	list-style: none;
}

.footer-link a{
	color: #f8f9fa;
}